<mat-toolbar class="header" color="primary">
  <mat-toolbar-row class="header__content">
    <div>
      <img
        class="header__logo"
        width="48"
        height="48"
        src="https://scontent.fbeg1-1.fna.fbcdn.net/v/t39.30808-6/304851619_510614511067208_8215214906157576163_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=a2f6c7&_nc_ohc=fJ0YqN0O7CoAX8BESNp&_nc_ht=scontent.fbeg1-1.fna&oh=00_AfDdXC92lAWIY0NrzeIlsk2GZhycSG60NNrHh2NF94O4Ig&oe=650E5921"
      />
    </div>
    <span>ListenUP</span>
  </mat-toolbar-row>
</mat-toolbar>
